html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Oxygen", "Segoe UI", "Brandon Grotesque", "Ubuntu", sans-serif;
}

.App {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo path{
    fill: white;
}

.logo {
    margin: auto;
    margin-top: 0.75rem;
    margin-left: 0.4rem;
    padding: 0;
    position: fixed;
}
