.nav-bar {
  width: 5vw;
  height: 100%;   
  margin: 0;
  padding: 0;
  background-color: #121212;
  position: fixed;
  z-index: 9999;
  min-width: 50px;
}

.nav-bar-item {
  display: block;
  list-style: none;
  color: #ddd;
  text-decoration: none;
  padding: 2rem 0rem;
}

.nav-bar-item:hover {
  cursor: pointer;
  color: #49a0be;
  animation: glow 1s ease-in-out 0s infinite alternate;
  transition: 0.5s;
}

.active {
  color: #49a0be;
  animation: glow 1s ease-in-out 0s infinite alternate;
}

.nav-bar-icon {
  margin: 20% 0 0 20%;
  padding: 10% 0;
  width: 60%;
}

.nav-bar-icon:hover {
  opacity: 0;
}

.nav-bar-title {
  position: absolute;
  margin-top: 10%;
  font-size: 30px;
  font-weight: bold;
  padding: 10%;
  background-color: #121212;
  animation: slideIn 0.25s;
  border: 3px solid #49a0be;
  border-left: none;
}

@keyframes glow {
  from {
  } to {
      text-shadow: 0 0 2px #6bc3e0, 0 0 3px #83d6f1, 0 0 3px #fff;
  }
}