.nav-bar {
  width: 5vw;
  height: 100%;   
  margin: 0;
  padding: 0;
  background-color: #121212;
  position: fixed;
  z-index: 9999;
}

.nav-bar-item {
  display: block;
  list-style: none;
  color: #ddd;
  text-decoration: none;
  padding: 2rem 0rem;
}

.nav-bar-item:hover {
  cursor: pointer;
  color: #49a0be;
  animation: glow 1s ease-in-out 0s infinite alternate;
  transition: 0.5s;
}

.active {
  color: #49a0be;
  animation: glow 1s ease-in-out 0s infinite alternate;
}

.nav-bar-icon {
  margin: 0 0 0 0.5vw;
  padding: 1vw 0;
}

.nav-bar-title {
  position: absolute;
  margin-top: 0.5vw;
  font-size: 2.5vw;
  padding: 0.5vw;
  background-color: #121212;
  animation: slideIn 0.25s;
  border: 3px solid #49a0be;
  border-left: none;
}

@keyframes glow {
  from {
      text-shadow: 0 0 5px #49a0be, 0 0 15px #fff;
  } to {
      text-shadow: 0 0 5px #6bc3e0, 0 0 10px #83d6f1, 0 0 20px #fff;
  }
}