.nav-bar {
  width: 4%;
  height: 100%;   
  margin: 0;
  padding: 0;
  background-color: #121212;
  position: fixed;
  z-index: 9999;
}

.nav-bar-item {
  display: block;
  list-style: none;
  color: #ddd;
  text-decoration: none;
  padding: 0rem 0rem 2rem 0rem;
}

.nav-bar-item:nth-child(2) {
  margin-top: 15vh;
}

.nav-bar-item:hover {
  animation: glow 2s ease-in-out 0s infinite alternate;
  transition: 0.5s;
}

.active {
  color: #49a0be;
  animation: glow 2s ease-in-out 0s infinite alternate;
}

.nav-bar-icon {
  margin: auto;
  width: 60%;
}

.nav-bar-icon:hover {
  opacity: 0;
}

.logo path{
  fill: #ddd;
}

.logo {
  margin: auto;
  margin-top: 0.5rem;
  margin-left: 0.4%;
  width: 4%;
  height: 4%;
  padding: 0;
  position: fixed;
}

.nav-bar-title {
  position: absolute;
  font-weight: bold;
  padding: 5px 20px;
  background-color: #121212;
  color: #49a0be;
  animation: slideIn 0.25s;
  border: 3px solid #49a0be;
  border-left: none;
}

@keyframes glow {
  from {
  } to {
      text-shadow: 0 0 2px #6bc3e0, 0 0 3px #83d6f1;
  }
}