.content {
    padding: 1rem;
    background-color: rgba(25, 25, 25, 0.7);
    color: #ddd;
    margin: 20vh 0 0vh 5vw;
    height: 60vh;
    width: 95vw;

    min-width: 1000px;
    min-height: 400px;

    position: fixed;
    overflow: hidden;
    z-index: 999;
}

.page > *{
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;    
}

.page *:nth-child(1) { animation-duration: 0.2s}
.page *:nth-child(2) { animation-duration: 0.4s}
.page *:nth-child(3) { animation-duration: 0.6s}
.page *:nth-child(4) { animation-duration: 0.8s}

.profile {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    animation: fadeIn 1s !important;
}

h1 {
    font-size: 54px;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%);
    } to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
