.content {
	background-color: rgba(25, 25, 25, 0.7);
	color: #dddddd;
	margin: 14vh 0 0 4vw;
	height: 27em;
	width: 96%;

	min-width: 900px;

	position: fixed;
	overflow: hidden;
	z-index: 999;
}

.page {
	margin: 0;
	display: inline-block;
}

.text {
	margin-top: 5rem;
	margin-left: 5rem;
}

.text > *{
	animation-name: slideIn;
	animation-duration: 0.5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;
}

h1 {
	font-size: 3em;
	margin: 0;
}

.title {
	margin-bottom: 2rem;
}

.body {
	margin: 0.5rem 0;
	font-size: 0.9em;
}

h2 {
	margin: 0;
}

.text *:nth-child(1) { animation-duration: 0.2s }
.text *:nth-child(2) { animation-duration: 0.4s }
.text *:nth-child(3) { animation-duration: 0.6s }
.text *:nth-child(4) { animation-duration: 0.7s }
.text *:nth-child(5) { animation-duration: 0.8s }
.text *:nth-child(6) { animation-duration: 0.85s }
.text *:nth-child(7) { animation-duration: 0.9s }
.text *:nth-child(8) { animation-duration: 0.95s }
.text *:nth-child(9) { animation-duration: 1.0s }

.profile {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	animation: fadeIn 1s;
}

.button {
	margin: 2rem 0 0 5rem;
	padding: 0.4rem 1.6rem;
	display: inline-block;
	font-size: 1.5em;
	font-weight: bold;
	border: 3px solid #49a0be;
	color: #49a0be;
	animation: fadeIn 1s;
	text-decoration: none;
}

.button:hover {
	background-color: #49a0be;
	color: rgb(25, 25, 25);
	cursor: pointer;
}

@keyframes slideIn {
	from {
		transform: translateX(-50%);
	} to {
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}
