.page {
	color:var(--dark-grey-0);
  margin-bottom: 10%;
	margin-left: 10%;
  position: absolute;
	z-index: 9;
	display: flex;
  flex-direction: column;
  width: 80%;
	animation: var(--fade-in-1);
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.category {
  margin-right: 6%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.categoryTitle {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.5em;
  align-self: flex-start;
}

.item {
  margin-bottom: 1.25em;
  padding-bottom: 0.75em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid var(--light-grey-0);
}

.item:last-child {
  border-bottom: 0;
}

.itemLang {
  margin-bottom: 0.25em;
  display: flex;
  flex-direction: row;
}

.itemTitle {
  text-align: center;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.heartsContainer {
  margin-left: 2em;
  margin-top: -0.25em;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
}

.title {
	font-size: 3em;
	font-weight: 500;
	margin: 0;
  padding-right: 1em;
	margin-bottom: 0.75em;
  border-bottom: 3px solid var(--light-blue-0);
  align-self: flex-start;
}

.body {
	font-size: 1em;
	margin-top: 16px;
	font-weight: 400;
}