.player {
  color: var(--white-0);
  position: absolute;
  justify-self: center;
  bottom: 100px;
}

.obstacle {
  justify-self: right;
  position: absolute;
  right: 100px;
  bottom: 50%;
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 0;

  overflow: hidden;

  display: flex;
}


@-webkit-keyframes gradient {
  0%{background-position:38% 0%}
  50%{background-position:63% 100%}
  100%{background-position:38% 0%}
}
@keyframes gradient {
  0%{background-position:38% 0%}
  50%{background-position:63% 100%}
  100%{background-position:38% 0%}
}
