@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./styles/colours.module.css";
@import "./styles/animations.module.css";

.app {
  display: flex;
  flex-direction: column;
  fill: var(--white-0);
  
  background-color: var(--white-0);
  height: 100vh;
  overflow: hidden;
  font-family: "Oxygen", "Segoe UI", "Brandon Grotesque", "Ubuntu", sans-serif;
}

html, body {
  font-family: "Oxygen", "Segoe UI", "Brandon Grotesque", "Ubuntu", sans-serif;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  min-width: 1000px;
}
