.game {
  height: 72vh;
	width: 128vh;
}

.title {
	font-size: 2em;
	font-weight: 500;
	margin: 0;
  margin-top: 0.5em;
  padding-right: 1em;
  align-self: start;
  border-bottom: 3px solid var(--light-blue-0);
	animation: var(--fade-in-1);
  user-select: none;
}

.description {
	font-size: 1em;
	margin-top: 0.5em;
	font-weight: 500;
  margin-bottom: 1em;
	animation: var(--fade-in-1);
  user-select: none;
}

.link {
  padding: 0 2px;
  margin: 0 -2px;
  border-bottom: 3px solid var(--light-blue-0);
}

.link:hover {
  color: var(--light-blue-0)
}

.page {
  margin-bottom: 10%;
	margin-left: 10%;
  position: absolute;
	z-index: 9;
	display: flex;
  flex-direction: column;
  width: 80%;
  height: 60%;
	animation: var(--fade-in-1);
}



.row {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  justify-content: space-evenly;
  width: 90%;
}

.itchGame {
  
}

.title {
	font-size: 3em;
	font-weight: 500;
	margin: 0;
	margin-bottom: 1em;
	align-self: start;
	border-bottom: 3px solid var(--light-blue-0);
	padding-right: 0.25em;
}